@{
    ViewBag.Title = "La Empresa";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    
    <div class="text-center">
        <H2>Miembros:</H2>

        <img width="100" height="120" class="img-fluid img-circle" alt="florencia" src="~/Content/Images/florencia.jpg" />

        <H3 class="btn-danger">
            Lagoria García, Florencia
        </H3>

        <p>
            Jefa Sector Analisis de Sistemas
        </p>

        <img width="100" height="120" class="img-fluid img-circle" alt="romina" src="~/Content/Images/romina.jpg" />

        <H3 class="btn-danger">
            Mamaní, Romina
        </H3>

        <p>
            Gerente Depto Prodcucion
        </p>

        <img width="100" height="120" class="img-fluid img-circle" alt="pablo" src="~/Content/Images/pablo.jpg" />

        <H3 class="btn-danger">
            Roda, Pablo José
        </H3>

        <p>
            Jefe Sector Testing de Sistema
        </p>
        <img width="100" height="100" class="img-fluid img-circle" alt="cristian" src="~/Content/Images/cristian.jpg" />

        <H3 class="btn-danger">
            Aparicio, Cristian
        </H3>

        <p>
            Jefe Sector Diseño de Sistermas
        </p>
        <img width="100" height="120" class="img-fluid img-circle" alt="ana" src="~/Content/Images/ana.jpg" />

        <H3 class="btn-danger">
            Aguirre, Ana 35519
        </H3>

        <p>
            Jefe Sector Soporte Tecnico
        </p>

        <p> 2019 - 4k3</p>
    </div>
</div>


    <div class="text-justify">
        <div class="text-danger">
            <div class="col-md-4">
                <h2>MISIÓN</h2>
                <p>
                    <strong>BSOFT S.A.S </strong>
                    es una empresa de tecnología que brinda servicios de desarrollo de software sobre
                    sistemas de gestión de ventas y facturación para PYMES.
                </p>
            </div>
        <div class="col-md-4">
           

                    <h2>
                        VISIÓN
                    </h2>
                    <p>
                        <strong>BSOFT S.A.S </strong>
                        busca ser una empresa reconocida a nivel internacional como un referente en el
                        desarrollo de software sobre sistemas de gestión de ventas y facturación, apreciada por su excelencia y
                        calidad en la prestación de sus servicios, por su compromiso con los clientes, y su interés en el desarrollo
                        profesional de sus empleados.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>
                        VALORES ORGANIZACIONALES
                    </h2>
                    <p>
                        Los valores organizacionales de <strong>BSOFT S.A.S</strong> son:
                    </p>
                    <p>
                        <strong> Calidad:</strong> Dar a nuestros clientes el máximo de calidad de nuestros productos dando
                        cumplimiento a los requisitos de la norma a certificar.
                    </p>
                    <p>
                        <strong>Resolución: </strong>Ser altamente eficaz en resolver los problemas de nuestros clientes.
                    </p>
                    <p>
                        <strong> Compromiso:</strong> Brindar todo lo posible de nuestro equipo de desarrollo para cumplir con el
                        objetivo de nuestro cliente.
                    </p>
                    <p>
                        <strong>Confiabilidad:</strong> resguardar datos sensibles de nuestros clientes para el desarrollo del sistema
                    </p>
                </div>
            </div>
        </div>

        @*organigrama*@

<div class="col-md-12">
    <h2>
        NUESTRA ORGANIZACION
    </h2>
   
    <img class="img-responsive" src="~/Content/Images/organigrama.png"  />
</div>

<div class="col-md-12">
    <h2>
        NUESTRAS OFICINAS
    </h2>
    <img class="img-responsive"  src="~/Content/Images/oficina.jpg"/>
</div>
