@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    
    <div class="text-center">

        <h1>Bienvenidos a BSOFT</h1>

        <img class="mx-auto d-block" width=350 height=350 src="~/Content/Images/Logo.jpg" alt="Logo Bsoft" />


        <h2>La solucion inteligente para tu empresa</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        
  
    </div>
    
</div>