@{
    ViewBag.Title = "Home";
}

<div class="row">

    <div class="jumbotron">
        <h2 class="text-center"> Bienvenidos a BSOFT</h2>
        <h3 class="text-center">La solucion inteligente para tu empresa</h3>
        <div class="col-sm-3">
            <p class="">
                <strong>Desarrollamos Software de gestion</strong>
                Somos una empresa Joven destinada a solucionar todo
                lo que tenga que ver con  gestiones esenciales de PYMES,
                facilitando y ordenando tareas.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <a href="#"><img class="img-fluid img-circle" width=350 height=350 src="~/Content/Images/Logo.jpg" alt="Logo Bsoft" /></a>

            </div>
        </div>

        <div class="col-sm-3">
            <p>
                <strong>
                    Responsabildiad con nuestros clientes
                </strong>
                Desarrollamos software de gestión analizando las necesidades de cada
                empresa y así poder brindar una propuesta integral de soluciones.
            </p>
        </div>

        <div class="row ">
        </div>
        <div class="row ">
        </div>
        <div class="row ">
            <div class="col-sm-6">
                <p>
                    <strong>
                        Asesoramiento Informatico:
                    </strong>
                    También te brindamos asesoramiento sobre nuevas tecnologías, para que puedas
                    llevar tus actividades en un menor tiempo pero con mayor rendimiento.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <strong>
                        Soporte posventa
                    </strong>
                    Contamos con servicio de mesa de ayuda, a fines de evacuar todas las dudas
                    e incidencias que surjan con el uso de nuestas soluciones
                </p>
            </div>
        </div>
    </div>
</div>