<hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-primary btn-sm" />
                <button type="button" class="btn btn-primary btn-sm">
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "", Style = "color:White; text-decoration:none;" })
                </button>
            </div>
        </div>

        @*<input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")*@
    </div>
}
<hr/>