    <span class="text-success"> Siguenos en nuestra redes sociales</span>
    <a href="https://www.facebook.com/BSOFT-110949827031412/" target="_blank">
        <img class="img-circle" src="~/Content/Images/facebook.jpg" width="30" height="30">
    </a>

    <a href="https://instagram.com/bsoftsis?igshid=sgy45ti8h5xd" target="_blank">
        <img class="img-circle" src="~/Content/Images/instagram.jpg" width="30" height="30">
    </a>
    <a href="https://twitter.com/" target="_blank">
        <img class="img-circle" src="~/Content/Images/twitter.jpg" width="30" height="30">
    </a>

    
    <a href="https://www.linkedin.com/" target="_blank">
           <img class="img-circle" src="~/Content/Images/linkedin.jpg" width="30" height="30">
    </a>



