
<div class="btn-group-justified btn-primary">
    Siguenos en nuestra redes sociales
    <a href="https://www.facebook.com/BSOFT-110949827031412/" target="_blank">
        <img class="img-circle" src="~/Content/Images/facebook.jpg" width="30" height="30">
    </a>

    <a href="https://twitter.com/noprog" target="_blank">
        <img class="img-circle" src="~/Content/Images/twitter.jpg" width="30" height="30">
    </a>

    
    <a href="https://www.linkedin.com/company/programacionnet" target="_blank">
           <img class="img-circle" src="~/Content/Images/linkedin.jpg" width="30" height="30">
    </a>

    
    <a href="https://www.instagram.com/?hl=es-la" target="_blank">
        <img class="img-circle" src="~/Content/Images/instagram.jpg" width="30" height="30">
    </a>

</div>




